


.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}